.main-container {
  position: relative;
  width: 100%;
  //max-width?
  height: 100vh;
  color: $white;
  background: $black;
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  .overlay-section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: $black;
    opacity: 0.8;
  }
  .middle-section {
    position: relative;
    z-index: 2;
    .button-group {
      margin-bottom: 12px;
      &:first-of-type {
        margin-top: 12px;
      }
    }
  }
}
